<%= render 'banner_card' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="cards" id="characters">
      <%= render 'characters/list' %>
    </div>
  </div>
</div>


